body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Indie Flower', cursive;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
/*--header--*/
.banner{
	background:url(../images/banner_compressed.jpg);
	background-size:cover;
	min-height: 800px;
  max-width:100%;
  max-height:100%;
}
.banner-top {
  text-align: center;
  color:#ffa;
}
.banner-top h1{
  font-size: 8em;
  font-weight: 700;
  padding-top: 1.5em;
}
.banner-top h2{
  font-size: 3em;
  font-weight: 100;
  font-family: 'Lora', serif;
  font-style: italic;
  margin-bottom: 6em;
}
.top-menu {
    text-align: center;
  padding: 0em 0;
    background: rgba(0, 0, 0, 0);
}
.top-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-menu ul li {
	display:inline-block;
}
.top-menu ul li a {
  color: #000000;
  margin: 0 27px;
  font-size: 1.3em;
  text-decoration:none;
}
.logo a img {
  margin: 0 auto;
}
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
/*--/these are the header effects--*/
.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
	color: #b30a5a;
    font-weight: 900;
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
	color: #b30a5a;
    font-weight: 900;
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/*--/header--*/

/*--portfolio--*/
.portfolio {
  padding: 6em 0;
}
.portfolio-info h3 {
  text-align: center;
  font-size: 5em;
  font-weight: 700;
  color: #000000;
}
.portfolio-info p {
  text-align: center;
  font-size: 1.46em;
  color: #000000;
  font-weight: 700;
  width: 56%;
  margin: 0 auto;
  padding: 1.5em 0 1.5em;
  line-height: 1.7em;
  border-bottom: 1px solid#D7D7D7;
  }
.music-info p {
  text-align: center;
  font-size: 1.46em;
  color: #000000;
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  padding: 1.5em 0 1.5em;
  line-height: 1.7em;
  border-bottom: 1px solid#D7D7D7;
}
ul.tab_list li {
	margin-bottom: 10px;
}
ul.tab_list li a:hover {
	color:#333;
}
input[type="text"] {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  padding: 2em 4em;
  border-bottom: 1px solid#C0C0C0;
  margin-bottom: 0;
}
textarea {
  background: none;
  outline: none;
  resize: none;
  padding: 1.5em 4em;
  width: 100%;
  border: none;
  height: 380px;
}
/*--/Contact--*/

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 47px;
  height: 47px;
  border: none;
  text-indent: 100%;
  background: url(../images/logo2.png) no-repeat;
}
/*--responsive--*/
@media (max-width: 1024px){
	ul.resp-tabs-list li {
	  margin: 0 1.85em;
	}
	.portfolio-info p {
	  width: 56%;
	}
	.portfolio-info p {
	  width: 56%;
	}
	.about-info p {
	  width: 66%;
	}
}
@media (max-width: 768px){
	span.menu:before {
		content: url(../images/nav-icon.png);
		cursor: pointer;	
		height:32px;
	}
	.top-menu {
		width: 11%;
		float: right;
		margin:0;
		background: none;
	}
	.top-menu  ul{
		display:none;
	}
	.top-menu  ul li {
		font-size: 12px;
		display:inline-block;
		width: 100%;
		  padding: 10px 0;
	}
	.top-menu ul li a {
		padding:3px;
		font-size: 13px;
		width: 100%;
		font-weight:600;
		display:block;
		margin: 0;
	}
	.top-menu ul li a:hover{
		color:#fff;
	}
	 span.menu{
		display:block;
		float:right;
		margin: 11px 16px 0 0;
	}
	.top-menu  ul{
		margin: 0;
		z-index: 999;
		position: absolute;
		width: 96%;
		text-align: center;
		top: 13%;
		left: 2%;
		background: rgba(81, 34, 44, 0.74);
	}
	.banner-top h1 {
		  font-size: 6em;
		  padding-top: 1.5em;
	}
	.banner-top h2 {
		  font-size: 2.3em;
		  margin-bottom: 1.8em;
	}
	.banner {
		  min-height: 400px;
	}
	.portfolio {
	      padding: 3em 0;
	}
	.portfolio {
	     padding: 3em 0;
	}
	.portfolio-info p {
		  width: 56%;
		  font-size: 1.1em;
		  line-height: 1.7em;
		  font-weight: 400;
	}
	.portfolio-info h3 {
		  font-size: 4em;
	}
	
@media (max-width: 480px){
	.banner-top h1 {
	  font-size: 4em;
	  padding-top: 2.5em;
	}
	.portfolio {
	  padding: 2em 0;
	}
	.portfolio-info h3 {
	  font-size: 3em;
	}

@media (max-width: 320px){
	.top-menu {
	  padding: 0;
	}
	.banner-top h1 {
	  font-size: 2.5em;
	  padding-top: 1.5em;
	}
	.banner {
	  min-height: 200px;
	}
	.banner-top h2 {
	  font-size: 15px;
	  margin-bottom: 10px;
	  padding: 10px 0;
	}
	.top-menu ul {
		  top: 8%;
	}
	.top-menu ul li {
	  padding: 6px 0;
	}

	.portfolio-info h3 {
	  font-size: 2em;
	}
	.portfolio {
	  padding: 0em 0;
	}
	.portfolio-info p {
	  font-size: .875em;
	  padding: 0px 0;
	}
	